@using Events.Models
@model IEnumerable<Event>
@{
    ViewData["Title"] = "Evento na Faxa!";
}


<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create"> Adicionar novo Evento</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Event item in Model)
        {
            <tr>
                <td>
                    
                    <a                    
                        asp-action="Details"
                        asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Name)                       
                    </a>
                </td>
                 
            </tr>
        }
    </tbody>
</table>