<<<<<<< HEAD
﻿@using Events.Models
@model IEnumerable<Event>
@{
    ViewData["Title"] = "Página Inicial";
}


<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create"> Adicionar novo Evento</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Event item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
        }
    </tbody>
</table>
=======
﻿﻿@using Events.Models;



@{
    ViewData["Title"] = "Eventos";
}

<h1>@ViewData["Title"]</h1>


>>>>>>> 6cddd2bafcdec652d7ee5ba5d3a92414f6525dc6
